header {
	border: solid 2pt red;
	text-align: center;
}

p {
	font-size: 12pt;
	line-height: 12px;
	text-align: center; /*center aligns text*/
}

footer {
	border: solid 2pt red;
}

div.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1pt black;
	text-align: center;
}

div.gallery {
	width: 20%; /*specify, superimportant. This defines how wide the div will be*/
	height: 200px;
	display: inline-block; 
	/*takes images that would have been stacked 
	vertically and places them next to each other 
	as long as there's enough width in the screen*/
	background-color: green;
	margin: 10px;
	color: white;
	/*OKAY! This works!*/
	/*no need to float!*/
}

